<h1><%= HALLOWEEN_MODE ? "游꾺 Stra코ideln치 d캩litelnost 游놑" : "Procvi캜ov치n칤 d캩litelnosti" %></h1>

<div class="container">
  <h2>Vyber si typ 칰lohy:</h2>
  <form action="<%= url_prefix %>/start" method="post">
    <button class="btn" name="choice" value="1">1 - Nejv캩t코칤 spole캜n칳 d캩litel (NSD)</button>
    <button class="btn" name="choice" value="2">2 - Nejmen코칤 spole캜n칳 n치sobek (NSN)</button>
  </form>
</div> 